Gemfile.lock

# Secrets & Environment
.env*
!.env.example
mise.local.toml
docker-compose.override.yml
test/dummy/tmp/local_secret.txt

# Test artifacts
coverage/
test/coverage/
test/dummy/log/*
test/dummy/tmp/*
!test/dummy/tmp/.keep
!test/dummy/tmp/storage/.keep
